@using Microsoft.AspNetCore.Components.Routing
@inherits LayoutComponentBase

<nav class="nav flex-column">
    <NavLink href="contacts" Match="NavLinkMatch.All">Contacts</NavLink>
    <NavLink href="createcontact">Create Contact</NavLink>
</nav>